In [2]:
import pandas as pd  # Import the Pandas library for data manipulation and analysis.
import numpy as np  # Import the numpy library, used here for handling missing values like NaN.

# Task 1: Create DataFrames and save them as three .csv files.

# Create a dictionary with project details such as ID, name, cost and status.
project_data = {
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005', 'A002', 'A005', 'A003', 'A001', 'A003', 'A001', 'A004', 'A004', 'A005'],
    'Project': ['Project 1', 'Project 2', 'Project 3', 'Project 4', 'Project 5', 'Project 6', 'Project 7', 'Project 8', 'Project 9', 'Project 10', 'Project 11', 'Project 12', 'Project 13', 'Project 14'],
    'Cost': [1002000, 2000000, 4500000, 5500000, np.nan, 680000, 400000, 350000, np.nan, 300000, 2000000, 1000000, 3000000, 200000],
    'Status': ['Finished', 'Ongoing', 'Finished', 'Ongoing', 'Finished', 'Failed', 'Finished', 'Failed', 'Ongoing', 'Finished', 'Failed', 'Ongoing', 'Finished', 'Finished']
}

#Convert the project_data dictionary into a DataFrame.
df_project = pd.DataFrame(project_data) 


# Create a dictionary with  Employee information such as ID, name, gender, city, and age.
employee_data = {
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005'],
    'Name': ['John Alter', 'Alice Luxumberg', 'Tom Sabestine', 'Nina Adgra', 'Amy Johny'],
    'Gender': ['M', 'F', 'M', 'F', 'F'],
    'City': ['Paris', 'London', 'Berlin', 'Newyork', 'Madrid'],
    'Age': [25, 27, 29, 31, 30]
}

# Convert the employee_data dictionary into a DataFrame
df_employee = pd.DataFrame(employee_data) 


# Create a dictionary with Seniority Level details such as ID and corresponding designation level for each project head.
seniority_data = {
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005'],
    'Designation Level': [2, 2, 3, 2, 3]
}

#Convert the seniority_data dictionary into a DataFrame.
df_seniority = pd.DataFrame(seniority_data)


# Save the Project DataFrame to a CSV file named as 'Project.csv' (wihtout row numbers).
df_project.to_csv('Project.csv', index=False) 

# Save the employee DataFrame  to a CSV file named as 'Employee.csv' (without row numbers).
df_employee.to_csv('Employee.csv', index=False) 

# Save the seniority DataFrame to a CSV file named as 'Seniority.csv' (without row numbers).
df_seniority.to_csv('Seniority.csv', index=False) 

# Print a message to confirm that all three CSV files have been saved successfully.
print("Three dataframes have been created and saved as Project.csv, Employee.csv, and Seniority.csv.")

Three dataframes have been created and saved as Project.csv, Employee.csv, and Seniority.csv.

In [3]:
import pandas as pd # Import pandas library to work with data in table format.
import numpy as np  # Import the numpy library, used here for handling missing values like NaN.

# Loading dataframes from CSV files (as per Task 2 instruction to use saved .csv files)
# Assuming 'Project.csv' has been created from Task 1.
# Read the 'Project.csv' file into a DataFrame.
df_project = pd.read_csv('Project.csv') 

# Task 2: We need to fill in missing values in the 'Cost' column
# We'll do this by calculating a running average using a for loop

# Making a copy of the original DataFrame so that we're not modifying it directly
df_project_copy = df_project.copy()

# Loop through each row of the DataFrame by index.
for i in range(len(df_project_copy)):
    # Check if the 'Cost' value at the current row is missing(NaN)
    if pd.isna(df_project_copy.loc[i, 'Cost']):
        # Calculate the running average of non-NaN 'Cost' values up to the current point (i-1).
        # .loc[:i-1, 'Cost'] selects all 'Cost' values from the beginning up to the previous row.
        # .dropna() removes any NaN values from this selection before calculating the mean.
        previous_costs = df_project_copy.loc[:i-1, 'Cost'].dropna()
        
        # Check if there are any valid previous costs to calculate an average.
        if not previous_costs.empty:
            running_average = previous_costs.mean() # Calculate the mean of the valid previous costs.
            # Replace the NaN 'Cost' value at the current index 'i' with the calculated running average.
            df_project_copy.loc[i, 'Cost'] = running_average
        else:
            # If there are no previous valid costs (e.g., first element is NaN),
            # replace with 0 as a fallback.
            df_project_copy.loc[i, 'Cost'] = 0

# Copy the updated data back into the original DataFrame
df_project = df_project_copy 

# Show the result
print("\n--- Task 2 Output ---")
print("Project DataFrame after filling missing 'Cost' values:")
print(df_project)

--- Task 2 Output ---
Project DataFrame after filling missing 'Cost' values:
      ID     Project       Cost    Status
0   A001   Project 1  1002000.0  Finished
1   A002   Project 2  2000000.0   Ongoing
2   A003   Project 3  4500000.0  Finished
3   A004   Project 4  5500000.0   Ongoing
4   A005   Project 5  3250500.0  Finished
5   A002   Project 6   680000.0    Failed
6   A005   Project 7   400000.0  Finished
7   A003   Project 8   350000.0    Failed
8   A001   Project 9  2210312.5   Ongoing
9   A003  Project 10   300000.0  Finished
10  A001  Project 11  2000000.0    Failed
11  A004  Project 12  1000000.0   Ongoing
12  A004  Project 13  3000000.0  Finished
13  A005  Project 14   200000.0  Finished

In [5]:
import pandas as pd  # Import the Pandas library to work with tabular data

# Load the Employee DataFrame from the CSV file.
# This assumes 'Employee.csv' has been created from Task 1.
df_employee = pd.read_csv('Employee.csv') # Read the data from 'Employee.csv' into a DataFrame.

# Task 3: We want to split the full name into first and last names and then remove the original 'Name' column

# .str.split(' ', n=1, expand=True)-splits the string by the first space encountered (n=1)and expands the split parts into separate columns.
df_employee[['First Name', 'Last Name']] = df_employee['Name'].str.split(' ', n=1, expand=True) 

# Remove the original 'Name' column since we no longer need it
# 'axis=1' specifies that a column should be dropped.
df_employee = df_employee.drop('Name', axis=1) 

# Print the updated DataFrame to show the result
print("\n--- Task 3 Output ---")
print("Employee DataFrame after splitting 'Name' column:")
print(df_employee)

--- Task 3 Output ---
Employee DataFrame after splitting 'Name' column:
     ID Gender     City  Age First Name  Last Name
0  A001      M    Paris   25       John      Alter
1  A002      F   London   27      Alice  Luxumberg
2  A003      M   Berlin   29        Tom  Sabestine
3  A004      F  Newyork   31       Nina      Adgra
4  A005      F   Madrid   30        Amy      Johny

In [6]:
import pandas as pd  # Import the Pandas library to work with tabular data

# Load the DataFrames from their respective CSV files.
# This assumes 'Employee.csv', 'Seniority.csv', and 'Project.csv' have been created and updated by previous tasks.
df_employee = pd.read_csv('Employee.csv') # Loads Employee data
df_seniority = pd.read_csv('Seniority.csv') # Loads Seniority level data
df_project = pd.read_csv('Project.csv') # Loads Project data

# --- Repeating Task 2 and 3 modifications to ensure df_project and df_employee are in the correct state for Task 4 ---

# Task 2: Handle missing values in 'Cost' (Project DataFrame)
df_project_copy = df_project.copy() # Work on a copy of the DataFrame to avoid warnings

# Go through each row in the DataFrame
for i in range(len(df_project_copy)):
    # Check if the value is NaN
    if pd.isna(df_project_copy.loc[i, 'Cost']):
        # Calculate the running average of non-NaN values up to the current point
        previous_costs = df_project_copy.loc[:i-1, 'Cost'].dropna()
        if not previous_costs.empty:
            running_average = previous_costs.mean()
            # Replace the NaN with the running average
            df_project_copy.loc[i, 'Cost'] = running_average
        else:
            df_project_copy.loc[i, 'Cost'] = 0 # Default if no previous data

df_project = df_project_copy # Update the original dataframe name

# Task 3: Split the name column in the Employee dataframe into "First Name" and "LastName" and remove the older "name" column.
# Split the 'Name' column into two new columns: 'First Name' and 'Last Name'
# Assuming 'Name' column still exists from the loaded CSV
if 'Name' in df_employee.columns:
    df_employee[['First Name', 'Last Name']] = df_employee['Name'].str.split(' ', n=1, expand=True)
    # Remove the older 'Name' column
    df_employee = df_employee.drop('Name', axis=1)

# --- End of re-running necessary previous tasks ---

# Task 4: Join all three dataframes into one single dataframe called "Final"

# Firstly, merge Employee and Seniority DataFrames on 'ID'.
# 'how='inner'' ensures that only rows with matching 'ID' in both dataframes are included.
df_final = pd.merge(df_employee, df_seniority, on='ID', how='inner') #

# Now, merge the result (df_final) with the Project DataFrame on the same 'ID' column
# Since an employee can have multiple projects, this may create multiple tows for the same person
df_final = pd.merge(df_final, df_project, on='ID', how='inner') 

# Print the final merged DataFrame
print("\n--- Task 4 Output ---")
print("Final DataFrame after joining all three dataframes:")
print(df_final)

--- Task 4 Output ---
Final DataFrame after joining all three dataframes:
      ID Gender     City  Age First Name  Last Name  Designation Level  \
0   A001      M    Paris   25       John      Alter                  2
1   A001      M    Paris   25       John      Alter                  2
2   A001      M    Paris   25       John      Alter                  2
3   A002      F   London   27      Alice  Luxumberg                  2
4   A002      F   London   27      Alice  Luxumberg                  2
5   A003      M   Berlin   29        Tom  Sabestine                  3
6   A003      M   Berlin   29        Tom  Sabestine                  3
7   A003      M   Berlin   29        Tom  Sabestine                  3
8   A004      F  Newyork   31       Nina      Adgra                  2
9   A004      F  Newyork   31       Nina      Adgra                  2
10  A004      F  Newyork   31       Nina      Adgra                  2
11  A005      F   Madrid   30        Amy      Johny                  3
12  A005      F   Madrid   30        Amy      Johny                  3
13  A005      F   Madrid   30        Amy      Johny                  3

       Project       Cost    Status
0    Project 1  1002000.0  Finished
1    Project 9  2210312.5   Ongoing
2   Project 11  2000000.0    Failed
3    Project 2  2000000.0   Ongoing
4    Project 6   680000.0    Failed
5    Project 3  4500000.0  Finished
6    Project 8   350000.0    Failed
7   Project 10   300000.0  Finished
8    Project 4  5500000.0   Ongoing
9   Project 12  1000000.0   Ongoing
10  Project 13  3000000.0  Finished
11   Project 5  3250500.0  Finished
12   Project 7   400000.0  Finished
13  Project 14   200000.0  Finished

In [7]:
import pandas as pd  # Import the Pandas library to work with data tables
import numpy as np  # Import the numpy library, used here for handling missing values like NaN.

# Load the DataFrames from their respective CSV files.
# This assumes 'Employee.csv', 'Seniority.csv', and 'Project.csv' have been created and updated by previous tasks.
df_employee = pd.read_csv('Employee.csv') # Loads Employee data
df_seniority = pd.read_csv('Seniority.csv') # Loads Seniority level data
df_project = pd.read_csv('Project.csv') # Loads Project data

# --- Repeating Task 2, 3 and 4 modifications to ensure df_final is in the correct state for Task 5 ---

# Task 2: Handle missing values in 'Cost' (Project DataFrame)
df_project_copy = df_project.copy()
for i in range(len(df_project_copy)):
    if pd.isna(df_project_copy.loc[i, 'Cost']):
        previous_costs = df_project_copy.loc[:i-1, 'Cost'].dropna()
        if not previous_costs.empty:
            running_average = previous_costs.mean()
            df_project_copy.loc[i, 'Cost'] = running_average
        else:
            df_project_copy.loc[i, 'Cost'] = 0
df_project = df_project_copy

# Task 3: Split the name column in the Employee dataframe
if 'Name' in df_employee.columns:
    df_employee[['First Name', 'Last Name']] = df_employee['Name'].str.split(' ', n=1, expand=True)
    df_employee = df_employee.drop('Name', axis=1)

# Task 4: Join all three dataframes
df_final = pd.merge(df_employee, df_seniority, on='ID', how='inner')
df_final = pd.merge(df_final, df_project, on='ID', how='inner')

# --- End of re-running necessary previous tasks ---

# Task 5: Add a new bonus column in the Final dataframe.
# Give a 5% bonus concerning project cost only to employees who have finished the projects.

# Initialize 'Bonus' column with 0.0 for all rows.
# This ensures that employees not eligible for a bonus have a default bonus of zero.
df_final['Bonus'] = 0.0

# Apply a 5% bonus to the 'Cost' for projects where the 'Status' is 'Finished'.
# .loc[] is used for label-based indexing to select rows where 'Status' is 'Finished'
# and then assign the calculated bonus to the 'Bonus' column for those specific rows.
df_final.loc[df_final['Status'] == 'Finished', 'Bonus'] = df_final['Cost'] * 0.05

# print the updated DataFrame to show the new 'Bonus' column
print("\n--- Task 5 Output ---")
print("Final DataFrame after adding 'Bonus' column:")
print(df_final)

--- Task 5 Output ---
Final DataFrame after adding 'Bonus' column:
      ID Gender     City  Age First Name  Last Name  Designation Level  \
0   A001      M    Paris   25       John      Alter                  2
1   A001      M    Paris   25       John      Alter                  2
2   A001      M    Paris   25       John      Alter                  2
3   A002      F   London   27      Alice  Luxumberg                  2
4   A002      F   London   27      Alice  Luxumberg                  2
5   A003      M   Berlin   29        Tom  Sabestine                  3
6   A003      M   Berlin   29        Tom  Sabestine                  3
7   A003      M   Berlin   29        Tom  Sabestine                  3
8   A004      F  Newyork   31       Nina      Adgra                  2
9   A004      F  Newyork   31       Nina      Adgra                  2
10  A004      F  Newyork   31       Nina      Adgra                  2
11  A005      F   Madrid   30        Amy      Johny                  3
12  A005      F   Madrid   30        Amy      Johny                  3
13  A005      F   Madrid   30        Amy      Johny                  3

       Project       Cost    Status     Bonus
0    Project 1  1002000.0  Finished   50100.0
1    Project 9  2210312.5   Ongoing       0.0
2   Project 11  2000000.0    Failed       0.0
3    Project 2  2000000.0   Ongoing       0.0
4    Project 6   680000.0    Failed       0.0
5    Project 3  4500000.0  Finished  225000.0
6    Project 8   350000.0    Failed       0.0
7   Project 10   300000.0  Finished   15000.0
8    Project 4  5500000.0   Ongoing       0.0
9   Project 12  1000000.0   Ongoing       0.0
10  Project 13  3000000.0  Finished  150000.0
11   Project 5  3250500.0  Finished  162525.0
12   Project 7   400000.0  Finished   20000.0
13  Project 14   200000.0  Finished   10000.0

In [8]:
import pandas as pd  # Import the Pandas library to work with data tables
import numpy as np  # Import the numpy library, used for numerical operations and handling missing values like NaN.


# Load the DataFrames from their respective CSV files.
# This assumes 'Employee.csv', 'Seniority.csv', and 'Project.csv' have been created and updated by previous tasks.
df_employee = pd.read_csv('Employee.csv') # Loads Employee data
df_seniority = pd.read_csv('Seniority.csv') # Loads Seniority level data
df_project = pd.read_csv('Project.csv') # Loads Project data


# --- Repeating Task 2, 3, 4, and 5 modifications to ensure df_final is in the correct state for Task 6 ---

# Task 2: Handle missing values in 'Cost' (Project DataFrame)
df_project_copy = df_project.copy()
for i in range(len(df_project_copy)):
    if pd.isna(df_project_copy.loc[i, 'Cost']):
        previous_costs = df_project_copy.loc[:i-1, 'Cost'].dropna()
        if not previous_costs.empty:
            running_average = previous_costs.mean()
            df_project_copy.loc[i, 'Cost'] = running_average
        else:
            df_project_copy.loc[i, 'Cost'] = 0
df_project = df_project_copy

# Task 3: Split the name column in the Employee dataframe
if 'Name' in df_employee.columns:
    df_employee[['First Name', 'Last Name']] = df_employee['Name'].str.split(' ', n=1, expand=True)
    df_employee = df_employee.drop('Name', axis=1)

# Task 4: Join all three dataframes
df_final = pd.merge(df_employee, df_seniority, on='ID', how='inner')
df_final = pd.merge(df_final, df_project, on='ID', how='inner')

# Task 5: Add 'Bonus' column
df_final['Bonus'] = 0.0
df_final.loc[df_final['Status'] == 'Finished', 'Bonus'] = df_final['Cost'] * 0.05

# --- End of re-running necessary previous tasks ---

# Task 6: Demote the designation level by 1, whose projects have status "fail".
# Delete the employees record whose designation level is above 4.

# Demote designation level by 1 for projects with "Failed" status.
# Using .loc for conditional assignment to modify the 'Designation Level' directly in the DataFrame.
df_final.loc[df_final['Status'] == 'Failed', 'Designation Level'] -= 1

# Delete employee records whose designation level is above 4.
# Filter the DataFrame to keep only rows where 'Designation Level' is less than or equal to 4.
# .copy() is used to ensure a new DataFrame is returned, preventing potential Setting With Copy Warning in future operations.
df_final = df_final[df_final['Designation Level'] <= 4].copy()

# Displays the final result after applying the demotion and filtering
print("\n--- Task 6 Output ---")
print("Final DataFrame after demoting designation and deleting records with level > 4:")
print(df_final)

--- Task 6 Output ---
Final DataFrame after demoting designation and deleting records with level > 4:
      ID Gender     City  Age First Name  Last Name  Designation Level  \
0   A001      M    Paris   25       John      Alter                  2
1   A001      M    Paris   25       John      Alter                  2
2   A001      M    Paris   25       John      Alter                  1
3   A002      F   London   27      Alice  Luxumberg                  2
4   A002      F   London   27      Alice  Luxumberg                  1
5   A003      M   Berlin   29        Tom  Sabestine                  3
6   A003      M   Berlin   29        Tom  Sabestine                  2
7   A003      M   Berlin   29        Tom  Sabestine                  3
8   A004      F  Newyork   31       Nina      Adgra                  2
9   A004      F  Newyork   31       Nina      Adgra                  2
10  A004      F  Newyork   31       Nina      Adgra                  2
11  A005      F   Madrid   30        Amy      Johny                  3
12  A005      F   Madrid   30        Amy      Johny                  3
13  A005      F   Madrid   30        Amy      Johny                  3

       Project       Cost    Status     Bonus
0    Project 1  1002000.0  Finished   50100.0
1    Project 9  2210312.5   Ongoing       0.0
2   Project 11  2000000.0    Failed       0.0
3    Project 2  2000000.0   Ongoing       0.0
4    Project 6   680000.0    Failed       0.0
5    Project 3  4500000.0  Finished  225000.0
6    Project 8   350000.0    Failed       0.0
7   Project 10   300000.0  Finished   15000.0
8    Project 4  5500000.0   Ongoing       0.0
9   Project 12  1000000.0   Ongoing       0.0
10  Project 13  3000000.0  Finished  150000.0
11   Project 5  3250500.0  Finished  162525.0
12   Project 7   400000.0  Finished   20000.0
13  Project 14   200000.0  Finished   10000.0

In [9]:
import pandas as pd  # Import the Pandas library to work with data tables
import numpy as np  # Import the numpy library, used for numerical operations and handling missing values like NaN.

# Load the DataFrames from their respective CSV files.
# This assumes 'Employee.csv', 'Seniority.csv', and 'Project.csv' have been created and updated by previous tasks.
df_employee = pd.read_csv('Employee.csv') # Loads Employee data
df_seniority = pd.read_csv('Seniority.csv') # Loads Seniority level data
df_project = pd.read_csv('Project.csv') # Loads Project data)

# --- Repeating Task 2, 3, 4, 5, and 6 modifications to ensure df_final is in the correct state for Task 7 ---

# Task 2: Handle missing values in 'Cost' (Project DataFrame)
df_project_copy = df_project.copy()
for i in range(len(df_project_copy)):
    if pd.isna(df_project_copy.loc[i, 'Cost']):
        previous_costs = df_project_copy.loc[:i-1, 'Cost'].dropna()
        if not previous_costs.empty:
            running_average = previous_costs.mean()
            df_project_copy.loc[i, 'Cost'] = running_average
        else:
            df_project_copy.loc[i, 'Cost'] = 0
df_project = df_project_copy

# Task 3: Split the name column in the Employee dataframe
if 'Name' in df_employee.columns:
    df_employee[['First Name', 'Last Name']] = df_employee['Name'].str.split(' ', n=1, expand=True)
    df_employee = df_employee.drop('Name', axis=1)

# Task 4: Join all three dataframes
df_final = pd.merge(df_employee, df_seniority, on='ID', how='inner')
df_final = pd.merge(df_final, df_project, on='ID', how='inner')

# Task 5: Add 'Bonus' column
df_final['Bonus'] = 0.0
df_final.loc[df_final['Status'] == 'Finished', 'Bonus'] = df_final['Cost'] * 0.05

# Task 6: Demote designation and delete records
df_final.loc[df_final['Status'] == 'Failed', 'Designation Level'] -= 1
df_final = df_final[df_final['Designation Level'] <= 4].copy()

# --- End of re-running necessary previous tasks ---

# Task 7: Add "Mr." and "Mrs." to the first name column and remove the gender column.

# Create a function that adds "Mr." or "Mrs." based on gender
def add_salutation(row): 
    if row['Gender'] == 'M': # If gender is Male
        return 'Mr.' + row['First Name'] # Add "Mr." before First Name.
    elif row['Gender'] == 'F': # If gender is Female
        return 'Mrs.' + row['First Name'] # Add "Mrs." before First Name.
    return row['First Name'] # If gender is something else or missing, keep name as is

# Apply the add_salutation function row-wise to update the 'First Name' column.
# axis=1 ensures the function is applied across rows, allowing access to other columns like 'Gender'.
df_final['First Name'] = df_final.apply(add_salutation, axis=1) 

# Remove the 'Gender' column as it's no longer needed after adding salutations.
# axis=1 specifies that a column should be removed.
df_final = df_final.drop('Gender', axis=1) 

# Print the updated DataFrame to check the results
print("\n--- Task 7 Output ---")
print("Final DataFrame after adding salutations and dropping 'Gender' column:")
print(df_final)

--- Task 7 Output ---
Final DataFrame after adding salutations and dropping 'Gender' column:
      ID     City  Age First Name  Last Name  Designation Level     Project  \
0   A001    Paris   25    Mr.John      Alter                  2   Project 1
1   A001    Paris   25    Mr.John      Alter                  2   Project 9
2   A001    Paris   25    Mr.John      Alter                  1  Project 11
3   A002   London   27  Mrs.Alice  Luxumberg                  2   Project 2
4   A002   London   27  Mrs.Alice  Luxumberg                  1   Project 6
5   A003   Berlin   29     Mr.Tom  Sabestine                  3   Project 3
6   A003   Berlin   29     Mr.Tom  Sabestine                  2   Project 8
7   A003   Berlin   29     Mr.Tom  Sabestine                  3  Project 10
8   A004  Newyork   31   Mrs.Nina      Adgra                  2   Project 4
9   A004  Newyork   31   Mrs.Nina      Adgra                  2  Project 12
10  A004  Newyork   31   Mrs.Nina      Adgra                  2  Project 13
11  A005   Madrid   30    Mrs.Amy      Johny                  3   Project 5
12  A005   Madrid   30    Mrs.Amy      Johny                  3   Project 7
13  A005   Madrid   30    Mrs.Amy      Johny                  3  Project 14

         Cost    Status     Bonus
0   1002000.0  Finished   50100.0
1   2210312.5   Ongoing       0.0
2   2000000.0    Failed       0.0
3   2000000.0   Ongoing       0.0
4    680000.0    Failed       0.0
5   4500000.0  Finished  225000.0
6    350000.0    Failed       0.0
7    300000.0  Finished   15000.0
8   5500000.0   Ongoing       0.0
9   1000000.0   Ongoing       0.0
10  3000000.0  Finished  150000.0
11  3250500.0  Finished  162525.0
12   400000.0  Finished   20000.0
13   200000.0  Finished   10000.0

In [10]:
import pandas as pd  # Import the Pandas library to work with data tables
import numpy as np  # Import the numpy library, used for numerical operations and handling missing values like NaN.


# Load the DataFrames from their respective CSV files.
# This assumes 'Employee.csv', 'Seniority.csv', and 'Project.csv' have been created and updated by previous tasks.
df_employee = pd.read_csv('Employee.csv') # Loads Employee data
df_seniority = pd.read_csv('Seniority.csv') # Loads Seniority level data
df_project = pd.read_csv('Project.csv') # Loads Project data)

# --- Repeating Task 2, 3, 4, 5, 6, and 7 modifications to ensure df_final is in the correct state for Task 8 ---

# Task 2: Handle missing values in 'Cost' (Project DataFrame)
df_project_copy = df_project.copy()
for i in range(len(df_project_copy)):
    if pd.isna(df_project_copy.loc[i, 'Cost']):
        previous_costs = df_project_copy.loc[:i-1, 'Cost'].dropna()
        if not previous_costs.empty:
            running_average = previous_costs.mean()
            df_project_copy.loc[i, 'Cost'] = running_average
        else:
            df_project_copy.loc[i, 'Cost'] = 0
df_project = df_project_copy

# Task 3: Split the name column in the Employee dataframe
if 'Name' in df_employee.columns:
    df_employee[['First Name', 'Last Name']] = df_employee['Name'].str.split(' ', n=1, expand=True)
    df_employee = df_employee.drop('Name', axis=1)

# Task 4: Join all three dataframes
df_final = pd.merge(df_employee, df_seniority, on='ID', how='inner')
df_final = pd.merge(df_final, df_project, on='ID', how='inner')

# Task 5: Add 'Bonus' column
df_final['Bonus'] = 0.0
df_final.loc[df_final['Status'] == 'Finished', 'Bonus'] = df_final['Cost'] * 0.05

# Task 6: Demote designation and delete records
df_final.loc[df_final['Status'] == 'Failed', 'Designation Level'] -= 1
df_final = df_final[df_final['Designation Level'] <= 4].copy()

# Task 7: Add "Mr." and "Mrs." to the first name column and drop the gender column.
def add_salutation(row):
    if row['Gender'] == 'M':
        return 'Mr. ' + row['First Name']
    elif row['Gender'] == 'F':
        return 'Mrs. ' + row['First Name']
    return row['First Name']
df_final['First Name'] = df_final.apply(add_salutation, axis=1)
df_final = df_final.drop('Gender', axis=1)

# --- End of re-running necessary previous tasks ---

# Task 8: Promote designation level by 1 for the employees whose age is more than 29 years using IF condition.

# Promote designation level by 1 for employees whose age is more than 29 years.
# Using .loc for conditional assignment - This is an efficient way to apply a condition 
# to specific rows and modify a column without explicit iteration.
df_final.loc[df_final['Age'] > 29, 'Designation Level'] += 1 # Increase designation level by 1 for those over 29

# Show the final result for Task 8
print("\n--- Task 8 Output ---")
print("Final DataFrame after promoting designation based on age:")
print(df_final)

--- Task 8 Output ---
Final DataFrame after promoting designation based on age:
      ID     City  Age  First Name  Last Name  Designation Level     Project  \
0   A001    Paris   25    Mr. John      Alter                  2   Project 1
1   A001    Paris   25    Mr. John      Alter                  2   Project 9
2   A001    Paris   25    Mr. John      Alter                  1  Project 11
3   A002   London   27  Mrs. Alice  Luxumberg                  2   Project 2
4   A002   London   27  Mrs. Alice  Luxumberg                  1   Project 6
5   A003   Berlin   29     Mr. Tom  Sabestine                  3   Project 3
6   A003   Berlin   29     Mr. Tom  Sabestine                  2   Project 8
7   A003   Berlin   29     Mr. Tom  Sabestine                  3  Project 10
8   A004  Newyork   31   Mrs. Nina      Adgra                  3   Project 4
9   A004  Newyork   31   Mrs. Nina      Adgra                  3  Project 12
10  A004  Newyork   31   Mrs. Nina      Adgra                  3  Project 13
11  A005   Madrid   30    Mrs. Amy      Johny                  4   Project 5
12  A005   Madrid   30    Mrs. Amy      Johny                  4   Project 7
13  A005   Madrid   30    Mrs. Amy      Johny                  4  Project 14

         Cost    Status     Bonus
0   1002000.0  Finished   50100.0
1   2210312.5   Ongoing       0.0
2   2000000.0    Failed       0.0
3   2000000.0   Ongoing       0.0
4    680000.0    Failed       0.0
5   4500000.0  Finished  225000.0
6    350000.0    Failed       0.0
7    300000.0  Finished   15000.0
8   5500000.0   Ongoing       0.0
9   1000000.0   Ongoing       0.0
10  3000000.0  Finished  150000.0
11  3250500.0  Finished  162525.0
12   400000.0  Finished   20000.0
13   200000.0  Finished   10000.0

In [11]:
import pandas as pd  # Import the Pandas library to work with data tables
import numpy as np  # Import the numpy library, used for numerical operations and handling missing values like NaN.


# Load the DataFrames from their respective CSV files.
# This assumes 'Employee.csv', 'Seniority.csv', and 'Project.csv' have been created and updated by previous tasks.
df_employee = pd.read_csv('Employee.csv') # Loads Employee data
df_seniority = pd.read_csv('Seniority.csv') # Loads Seniority level data
df_project = pd.read_csv('Project.csv') # Loads Project data)

# --- Repeating Task 2, 3, 4, 5, 6, 7, and 8 modifications to ensure df_final is in the correct state for Task 9 ---

# Task 2: Handle missing values in 'Cost' (Project DataFrame)
df_project_copy = df_project.copy()
for i in range(len(df_project_copy)):
    if pd.isna(df_project_copy.loc[i, 'Cost']):
        previous_costs = df_project_copy.loc[:i-1, 'Cost'].dropna()
        if not previous_costs.empty:
            running_average = previous_costs.mean()
            df_project_copy.loc[i, 'Cost'] = running_average
        else:
            df_project_copy.loc[i, 'Cost'] = 0
df_project = df_project_copy

# Task 3: Split the name column in the Employee dataframe
if 'Name' in df_employee.columns:
    df_employee[['First Name', 'Last Name']] = df_employee['Name'].str.split(' ', n=1, expand=True)
    df_employee = df_employee.drop('Name', axis=1)

# Task 4: Join all three dataframes
df_final = pd.merge(df_employee, df_seniority, on='ID', how='inner')
df_final = pd.merge(df_final, df_project, on='ID', how='inner')

# Task 5: Add 'Bonus' column
df_final['Bonus'] = 0.0
df_final.loc[df_final['Status'] == 'Finished', 'Bonus'] = df_final['Cost'] * 0.05

# Task 6: Demote designation and delete records
df_final.loc[df_final['Status'] == 'Failed', 'Designation Level'] -= 1
df_final = df_final[df_final['Designation Level'] <= 4].copy()

# Task 7: Add "Mr." and "Mrs." to the first name column and drop the gender column.
def add_salutation(row):
    if row['Gender'] == 'M':
        return 'Mr. ' + row['First Name']
    elif row['Gender'] == 'F':
        return 'Mrs. ' + row['First Name']
    return row['First Name']
df_final['First Name'] = df_final.apply(add_salutation, axis=1)
df_final = df_final.drop('Gender', axis=1)

# Task 8: Promote designation level by 1 for the employees whose age is more than 29 years using IF condition.
df_final.loc[df_final['Age'] > 29, 'Designation Level'] += 1

# --- End of re-running necessary previous tasks ---

# Task 9: Add the cost of all projects for each Employee and save it in new dataframe "TotalProjCost"
# with three columns ID, First Name, and Total cost.

#  Group the df_final DataFrame by 'ID' and 'First Name' and sum the 'Cost' for each group.
# .reset_index() converts the grouped 'ID' and 'First Name' back into regular columns from the index.
df_total_proj_cost = df_final.groupby(['ID', 'First Name'])['Cost'].sum().reset_index()

# Renaming the 'Cost' column (which now contains the sum of costs) to 'Total cost' as required.
df_total_proj_cost = df_total_proj_cost.rename(columns={'Cost': 'Total cost'})

# Reorder the columns to match the specified order: ID, First Name, and Total cost.
df_total_proj_cost = df_total_proj_cost[['ID', 'First Name', 'Total cost']]

# Print the final result
print("\n--- Task 9 Output ---")
print("TotalProjCost DataFrame:")
print(df_total_proj_cost)

--- Task 9 Output ---
TotalProjCost DataFrame:
     ID  First Name  Total cost
0  A001    Mr. John   5212312.5
1  A002  Mrs. Alice   2680000.0
2  A003     Mr. Tom   5150000.0
3  A004   Mrs. Nina   9500000.0
4  A005    Mrs. Amy   3850500.0

In [13]:
import pandas as pd  # Import the Pandas library to work with data tables
import numpy as np  # Import the numpy library, used for numerical operations and handling missing values like NaN.


# Load the DataFrames from their respective CSV files.
# This assumes 'Employee.csv', 'Seniority.csv', and 'Project.csv' have been created and updated by previous tasks.
df_employee = pd.read_csv('Employee.csv') # Loads Employee data
df_seniority = pd.read_csv('Seniority.csv') # Loads Seniority level data
df_project = pd.read_csv('Project.csv') # Loads Project data)

# --- Repeating Task 2, 3, 4, 5, 6, 7, and 8 modifications to ensure df_final is in the correct state for Task 10 ---

# Task 2: Handle missing values in 'Cost' (Project DataFrame)
df_project_copy = df_project.copy()
for i in range(len(df_project_copy)):
    if pd.isna(df_project_copy.loc[i, 'Cost']):
        previous_costs = df_project_copy.loc[:i-1, 'Cost'].dropna()
        if not previous_costs.empty:
            running_average = previous_costs.mean()
            df_project_copy.loc[i, 'Cost'] = running_average
        else:
            df_project_copy.loc[i, 'Cost'] = 0
df_project = df_project_copy

# Task 3: Split the name column in the Employee dataframe
if 'Name' in df_employee.columns:
    df_employee[['First Name', 'Last Name']] = df_employee['Name'].str.split(' ', n=1, expand=True)
    df_employee = df_employee.drop('Name', axis=1)

# Task 4: Join all three dataframes
df_final = pd.merge(df_employee, df_seniority, on='ID', how='inner')
df_final = pd.merge(df_final, df_project, on='ID', how='inner')

# Task 5: Add 'Bonus' column
df_final['Bonus'] = 0.0
df_final.loc[df_final['Status'] == 'Finished', 'Bonus'] = df_final['Cost'] * 0.05

# Task 6: Demote designation and delete records
df_final.loc[df_final['Status'] == 'Failed', 'Designation Level'] -= 1
df_final = df_final[df_final['Designation Level'] <= 4].copy()

# Task 7: Add "Mr." and "Mrs." to the first name column and drop the gender column.
def add_salutation(row):
    if row['Gender'] == 'M':
        return 'Mr. ' + row['First Name']
    elif row['Gender'] == 'F':
        return 'Mrs. ' + row['First Name']
    return row['First Name']
df_final['First Name'] = df_final.apply(add_salutation, axis=1)
df_final = df_final.drop('Gender', axis=1)

# Task 8: Promote designation level by 1 for the employees whose age is more than 29 years using IF condition.
df_final.loc[df_final['Age'] > 29, 'Designation Level'] += 1

# --- End of re-running necessary previous tasks ---

# Task 10: Print all the employee details whose city name contains the letter "o" in it.

print("\n--- Task 10 Output ---")
print("Employee details whose city name contains the letter 'o':")

# Filter the df_final DataFrame to select rows where the 'City' column contains the letter 'o' or 'O'.
# .str.contains('o|O', na=False) performs a case-insensitive search for 'o' in the 'City' string.
# 'na=False' treats NaN values as not containing the specified pattern.
employees_with_o_in_city = df_final[df_final['City'].str.contains('o|O', na=False)].copy()

# Remove duplicate rows based on 'ID' to show unique employee details.
# This is important because df_final might have multiple entries for the same employee
# if they are associated with multiple projects. We want unique employee details.
employees_with_o_in_city_unique = employees_with_o_in_city.drop_duplicates(subset=['ID'])

# Print the resulting DataFrame containing the unique employee details.
print(employees_with_o_in_city_unique)

--- Task 10 Output ---
Employee details whose city name contains the letter 'o':
     ID     City  Age  First Name  Last Name  Designation Level    Project  \
3  A002   London   27  Mrs. Alice  Luxumberg                  2  Project 2
8  A004  Newyork   31   Mrs. Nina      Adgra                  3  Project 4

        Cost   Status  Bonus
3  2000000.0  Ongoing    0.0
8  5500000.0  Ongoing    0.0